.header{
    background-color: rgb(16, 94, 94);
    display: flex;
    width: auto;
    height: 200px;
}

h2 {
    color: white;
    display: flex;

}

.header-link {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 20px;
    list-style: none;
}
* {
    border: 2px solid red;
    flex: 1;
  }





